/*---------------------------- Body ----------------------------*/
body{
    background-image: url("Assets/img/IKK.jpg");
    background-size: 100%;

}

.blackout{
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    position: absolute;
    background-color: rgba(0,0,0,0.9);
    z-index: 0;
}


/*---------------------------- Nav bar ----------------------------*/
header{
    z-index: 5;
}

.nav-bar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    z-index: 5;
}

.nav-bar-logo{
    height: 40px;
    z-index: 5;
}

.nav-bar-paths{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    z-index: 5;
}

.nav-bar .nav-bar-paths .nav-bar-paths-item{
    padding: 10px;
    font-family: Impact;
    font-size: 30px;
    color: whitesmoke;
    z-index: 5;
    text-decoration: none;
    transition: ease-in-out .1s;
    cursor: pointer;

}

.nav-bar .nav-bar-paths .nav-bar-paths-item:hover{
    color:grey;
    z-index: 5;
}


/*---------------------------- Main overall styling ----------------------------*/
main{
    position:fixed;
    top: 30%;
    left: 37%;
    z-index: 4;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

}

.page.active {
    display: block;
}

.page {
    display: none;
}

/*---------------------------- Home page ----------------------------*/
#page-main h1{
    color: white;
    font-family: Impact;
    font-weight: lighter;
    text-decoration: none;
    font-size: 40px;
}

#page-main span{
    color: white;
    font-size: 25px;
}


/*---------------------------- About page ----------------------------*/
#page-about{
    color:white;
    font-size: 40px;
}


/*---------------------------- Resumé page ----------------------------*/
#page-resume{
    color:white;
    font-size: 40px;
}




/*---------------------------- Portfolio page ----------------------------*/
#page-portfolio{
    color:white;
    font-size: 40px;
}



/*---------------------------- Blog page ----------------------------*/
#page-blog{
    color:white;
    font-size: 40px;
}


/*---------------------------- Contact page ----------------------------*/
#page-contact{
    color:white;
    font-size: 40px;
}





/*---------------------------- Footer ----------------------------*/
footer{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    bottom: 0;
    left: 0;
    position: fixed;

}

footer .footer-menu-some{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    padding: 10px;
    padding-bottom: 15px;

    z-index: 5;
}


footer .footer-menu-some i {
    padding: 5px;
    padding-right:30px;
    color: white;
    font-size: 40px;
    z-index: 5;
}

footer .footer-menu-some i:hover {
    color: grey;
}

footer .footer-menu-language{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 30px;

    z-index: 5;
}

footer .footer-menu-language a{
    font-size: 25px;
    font-family: verdana;
    font-weight: bolder;
    color: white;
    transition: ease-in-out 0.1s;
    z-index: 5;
    padding: 5px;
}

footer .footer-menu-language a:hover{
    color: grey;
}

